<turbo-frame id="collection" target="_top">
  <div class="section">
    <div class="container is-widescreen">
      <%= render "form", collection: @collection, locals: { collection: @collection } %>
    </div>
  </div>
</turbo-frame>
