<% content_for :head do %>
  <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap" rel="stylesheet">
<% end %>

<section class="section subscription-confirmed">
  <div class="container is-fluid page-content">
    <h1 class="title">
      Please confirm your subscription
    </h1>
    <p>
      <ol>
        <li>Check your inbox for the confirmation email.</li>
        <li>Click on the link to finish the signup process.</li>
        <li>If you don't receive the email after 5 minutes, check your spam / junk  folder.</li>
      </ol>
    </p>
  </div>
</section>

