<turbo-frame id="recipe" target="_top">
  <div class="section">
    <div class="container is-widescreen" data-controller="recipes--ingredient-sets">
      <%= render 'form', ingredient_set: @ingredient_set %>
      </br>
    </div>
  </div>
</turbo-frame>
