<% content_for :head do %>
  <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap" rel="stylesheet">
<% end %>

<section class="delicious">
  <main role="main">
    <article class="page single" role="article" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <div class="has-text-centered">
          <h2 class="post-title" itemprop="name headline">Shop</h2>
        </div>
      </header>

      <div class="post-content" itemprop="text" data-controller="shop">
        <p class="px-2 has-text-centered">Welcome to the grubdaily online shop</p>

        <section class="section py-1">
          <div class="tile is-ancestor is-vertical">
              <div class="tile is-parent">
                <div class="tile is-child has-text-centered is-4 px-2">
                  <div id="product-component-1654687279319" class="product-container"></div>
                </div>
                <div class="tile is-child has-text-centered is-4 px-2">
                  <div id='product-component-1654691987347' class="product-container"></div>
                </div>
              </div>
          </div>
        </section>
      </div>
    </article>
  </main>
</section>
