<turbo-frame id="recipe" target="_top">
  <div class="section pt-1 px-2">
    <div class="container is-widescreen">
      <%= render "form", recipe: @recipe, locals: { recipe: @recipe } %>
    </div>
  </div>
</turbo-frame>
