<% content_for :head do %>
  <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap" rel="stylesheet">
<% end %>

<section class="section subscription-confirmed">
  <div class="container is-fluid page-content">
    <h1 class="title">Thanks for subscribing!</h1>
    <p>Look forward to receiving tasty things in your inbox whenever new content is added.</p>
    </br>
    <p>
      In the meantime, why don't you <%= link_to("browse some recipes", :recipe_index) %>?</a>
    </p>
  </div>
</section>
