<turbo-frame id="edit-ingredient" target="_top">
  <div class="section">
    <div class="container is-widescreen">
      <%= render "form", ingredient: @ingredient %>

      <div class="control">
        <%= button_to(
          "Delete",
          ingredient_path(@ingredient),
          method: :delete,
          class: "button is-danger",
          data: {
            confirm: "Really?",
            disable_with: "deleting...",
            turbo: false
          }
        )%>
      </div>
    </div>
  </div>
</turbo-frame>
