<turbo-frame id="recipe" target="_top">
  <div class="section">
    <div class="container is-widescreen">
      <%= render 'form', ingredient_entry: @ingredient_entry %>
    </div>
  </div>
</turbo-frame>
