<turbo-frame id="image_upload" target="_top">
  <div class="section">
    <div class="container is-widescreen">
      <%= render "form", image_upload: @image_upload, locals: { image_upload: @image_upload } %>
    </div>
  </div>
</turbo-frame>
